:root {
  --space-small: 4px;
  --space-base: 8px;
  --space-large: 16px;
  --space-x-large: 32px;
  --space-xx-large: 48px;
  --space-xxx-large: 64px;

  --success-color: #00c9a6;
  --error-color: #FF7B9F;
  --border-color: #ddd;
}

/******************/
/* * * reset * * */
/****************/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 800px;
}

h3,
h4,
p {
  margin: 0;
}

/**************************************/
/* * * custom application styles * * */
/************************************/

.task {
  border: solid 1px var(--border-color);
  padding: 16px;
}

.answers {
  padding: 2px;
}

.validated-answer {
  display: flex;
}
.validated-answer:not(:last-of-type) {
  margin-bottom: 12px;
}

.answer-verdict {
  margin-left: 16px;
}
.answer-verdict.answer-correct {
  color: var(--success-color);
}
.answer-verdict.answer-incorrect {
  color: var(--error-color);
}

.footer {
  height: 100px;
}

/**************************************/
/* * * application spacing rules * * */
/************************************/

/* frames */

.margin-small {
  margin: var(--space-small);
}
.margin-base {
  margin: var(--space-base);
}
.margin-large {
  margin: var(--space-large);
}
.margin-x-large {
  margin: var(--space-x-large);
}
.margin-xx-large {
  margin: var(--space-xx-large);
}
.margin-xxx-large {
  margin: var(--space-xxx-large);
}

/* vertical spacing */

.margin-large-0 {
  margin: var(--space-large) 0;
}

/* top spacing */

.margin-top-x-large {
  margin-top: var(--space-x-large);
}

/* bottom spacing*/

.margin-bottom-12 {
  margin-bottom: 12px;
}
.margin-bottom-xx-large {
  margin-bottom: var(--space-xx-large);
}
